.doner-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 6px;
}

.back {
    background-image: linear-gradient(to bottom, rgba(134, 132, 132, 0.938), rgba(61, 51, 155, 0.637));
    color: whitesmoke;
    line-height: 14px;
}

.common-btn {
    background-color: rgb(52, 47, 83);
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
}